@import "tailwindcss";

@theme {
  --color-Beige500: #98908B;
  --color-Beige100: #F8F4F0;
  --color-Grey900: #201F24;
  --color-Grey500: #696868;
  --color-Grey300: #B3B3B3;
  --color-Grey100: #F2F2F2;

  --color-Green: #277C78;
  --color-Yellow: #F2CDAC;
  --color-Cyan: #82C9D7;
  --color-Navy: #626070;
  --color-Red: #C94736;
  --color-Purple: #826CB0;

  --color-LighterPurple: #AF81BA;
  --color-Turquoise: #597C7C;
  --color-Brown: #93674F;
  --color-Magenta: #934F6F;
  --color-Blue: #3F82B2;
  --color-NavyGrey: #97A0AC;
  --color-ArmyGray: #7F9161;
  --color-Gold: #CAB361;
  --color-Orange: #BE6C49;

  --color-White: #FFFFFF;

  --font-roboto: "PublicSans", sans-serif; 
}

@utility filter-green {
  filter: invert(40%) sepia(29%) saturate(798%) hue-rotate(128deg) brightness(96%) contrast(96%);
}

@utility filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
}